body {
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e8e8e8;
    margin: 40px 10px;
}

.container {
    max-width: 350px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(43, 48, 45, 0.88) 0px 30px 30px -20px;
    margin: auto;
    padding: 2rem;
}

h1 {
    text-align: center;
    color: #2e8555;
    margin: 50px 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    gap: 10px;
    min-width: 15rem;
}

button {
    margin-top: 40px;
    padding: 1.3em 3em;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

button:hover {
    background-color: #2e8555;
    box-shadow: 0px 15px 20px rgba(9, 126, 79, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

input {
    width: 100%;
    max-width: 220px;
    padding: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    border-radius: 12px;
    border: 1px solid #d7d7d7;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

input:hover {
    box-shadow: 0px 0px 20px -20px;
}

input:active {
    transform: scale(0.95);
}

label {
    color: #2e8555;
    font-weight: 600;
    padding-bottom: 4px;
    line-height: 2;
}

p {
    font-size: 11px;
    padding: 0 20px;
}

p:first-child {
    margin-top: 40px;
}