

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraping</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h1>Generar tabla de información del Tipo de Cambio</h1>
    <div class="container">
        <form action="/pdf" method="POST" onSubmit="return validateDates()" target="_blank">
            <div>
                <label for="dateStart">Fecha Inicial</label>
                <input type="date" id="dateStart" name="dateStart" value="">
            </div>
            <div>
                <label for="dateEnd">Fecha Final</label>
                <input type="date" id="dateEnd" name="dateEnd" value="">
            </div>
            <button type="submit">Generar PDF</button>
        </form>
    </div>
    <div>
        <p>
            La plataforma ofrece una herramienta sencilla para la obtención de información actualizada sobre los tipos de cambio publicados por el <b>Banco de México</b>. A través del formulario, puedes generar automáticamente un archivo PDF con los datos más recientes, extraídos directamente de la página fuente. 
        </p>
        <p>
            La información se extrae directamente de la página oficial del Banco de México, disponible en: <a href="<%= url %>" target="_blank">https://www.banxico.org.mx</a>, lo que garantiza la precisión y validez de los datos proporcionados.
        </p>
    </div>

    <script>
        function validateDates() {
            let dateStart = document.getElementById('dateStart').value;
            let dateEnd = document.getElementById('dateEnd').value;

            // Validar valores vacios
            if (!dateStart || !dateEnd) {
                alert("Las fechas no pueden estar vacías.");
                return false;
            }

            let start   = new Date(dateStart);
            let end     = new Date(dateEnd);

            // Validar que las fechas sean válidas
            if (isNaN(start.getTime()) || isNaN(end.getTime())) {
                alert("Por favor ingresa fechas válidas.");
                return false;
            }

            // Verificar que la fecha inicial no sea mayor que la fecha final
            if (start > end) {
                alert("La fecha inicial no puede ser mayor que la fecha final.");
                return false;
            }

            return true;
        }

        let date = new Date().toISOString().split('T')[0];
        document.getElementById('dateStart').value = date;
        document.getElementById('dateEnd').value = date;
    </script>
</body>
</html>